<div class="calculator-form-wrapper">
  <h1>Calculator</h1>

  <div class="data-wrapper">
    <h2>First number</h2>
    <input type="text" [(ngModel)]="firstNum" required>
    <h2>Second number</h2>
    <input type="text" [(ngModel)]="secondNum" required>
    <h2>Result</h2>
    <input type="text" [(ngModel)]="result" disabled>
  </div>

  <div class="operations-wrapper">
    <button (click)="calculate('+')">+</button>
    <button (click)="calculate('-')">-</button>
    <button (click)="calculate('*')">*</button>
    <button (click)="calculate('/')">/</button>

    <button (click)="calculate('%')">%</button>
    <button (click)="calculate('sqrt')">√</button>
    <button (click)="calculate('pow')">x<sup>y</sup></button>
    <button (click)="calculate('x!')">x!</button>

    <button (click)="calculate('sin')">sin</button>
    <button (click)="calculate('cos')">cos</button>
    <button (click)="calculate('tan')">tan</button>
    <button (click)="calculate('log')">log</button>

    <button (click)="calculate('asin')">asin</button>
    <button (click)="calculate('acos')">acos</button>
    <button (click)="calculate('atan')">atan</button>
    <button (click)="calculate('ln')">ln</button>

    <button (click)="calculate('1/x')">1/x</button>
    <button (click)="calculate('|x|')">|x|</button>
    <button (click)="calculate('10^x')">10<sup>x</sup></button>
    <button (click)="calculate('+/-')">+/-</button>

    <button (click)="calculate('π')">π</button>
    <button (click)="calculate('e')">e</button>
    <button (click)="calculate('e^x')">e<sup>x</sup></button>
    <button (click)="calculate('C')">C</button>
  </div>
</div>

